.Heading{
@font-face {
    font-family:'Arvo', serif; 
    src: url(<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">);
}
}
.About-me{
text-align: justify;
text-justify:inter-word;
padding-left: 30px;
padding-right: 100px;
padding-bottom: 50px;
padding-top: 10px;
border-right: 50px;
word-wrap: break-word;
}